# Pandas series

## Importing pandas

In [1]:
import pandas as pd

## Create a empty series

In [12]:
S = pd.Series()

C:\Users\User\AppData\Local\Temp\ipykernel_6520\573231601.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = pd.Series()

In [15]:
S

Series([], dtype: float64)

In [13]:
type(S)

pandas.core.series.Series

## Create series using array

In [34]:
# For create a array we use numpy library
import numpy as np

In [35]:
arr = np.array([1,2,3,4,5])

In [38]:
S1 = pd.Series(arr, index=["001","002","003","004","005"])
# index=["001","002","003","004","005"] this code is for create index

In [39]:
S1

001    1
002    2
003    3
004    4
005    5
dtype: int32

In [42]:
type(S1)

pandas.core.series.Series

## Create series using List

In [47]:
# First create a list
mylist = [1,2,3,4,5]

In [48]:
S2 = pd.Series(mylist)

In [45]:
S2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [46]:
type(S2)

pandas.core.series.Series

## Create series using Dictionary

In [49]:
#First create a dictionary
mydict = {1:"one",2:"two",3:"three"}

In [50]:
S3 = pd.Series(mydict)

In [52]:
S3
# Dictionary key work as a index

1      one
2      two
3    three
dtype: object

In [53]:
type(S3)

pandas.core.series.Series

## Create series using Dictionary (Not the all keys and values )

In [59]:
# And if we want to convert only few key value pairs 
# We need to mention those keys in the index part

S4 = pd.Series(mydict,index=[1,3])

In [60]:
S4

1      one
3    three
dtype: object